// Headers //

header.navigation-dark {
  background-color: @blackpeakgreylight;
  display: flex;
  div.header-logo {
    padding: 25px;
    width: 50%;
    img {
      width: 50%;
    }
  }
  div.nav-right {
    padding-top: 5vh;
    width: 50%;
    ul {
      list-style-type: none;
      font-weight: 700;
      li {
        float:  left;
        margin: 0px 10px;
      }
    }
  }
}

// Sections //

section.header-splash {
  width: 100%;
  background-color: @fitbitblue;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  padding: 0px;
}

section.topbar {
  width: 100%;
  background-color: @blackpeakgrey;
  min-height: 30px;
  color: white;
  padding: 0px;
  p.text-center {
    padding: 5px;
  }
}
